__pycache__
.ipynb_checkpoints
.idea
ignore*
/src/notebooks/baselines/logs-evals/
/src/notebooks/baselines/logs-train/
/src/notebooks/baselines/models/
/src/notebooks/baselines/logs-eval/
/submissions
/results
*.zip
/notebooks/utils/last_submission_results/
